doctype
html(lang=page.lang || config.language[0], data-theme="dark")
    head
        include head
    body
        div#page-wrapper
            a.skip-link(href="#main-content") 跳到主要内容
            .wrap
                header
                    a.logo-link(href=url_for())
                        img(src=url_for(theme.logo) alt="logo")
                    include nav
                main.container(id="main-content", tabindex="-1")
                    block container
                footer
                    block pagination
                    block copyright
        
        a.back-to-top(href="#top", aria-label="返回顶部")
            svg(width="20", height="20", viewBox="0 0 20 20", fill="currentColor", aria-hidden="true")
                path(d="M3.293 9.707a1 1 0 010-1.414L9.586 2a2 2 0 012.828 0l6.293 6.293a1 1 0 01-1.414 1.414L11 3.414V17a1 1 0 11-2 0V3.414L2.707 9.707a1 1 0 01-1.414 0z")
        
        include code
        include search
        include scripts
